<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1><%= student.first_name %> profile</h1>
    </div>
  </div>
</div>

<%-include('../partials/bottom') %>
