<%- include('../partials/head') %> <%- include('../partials/navbar') %>

<div class="row">
  <div class="col-6">
    <h1>Create course</h1>
  </div>
  <div class="col-6 offset-3">
    <form action="/courses/store" method="POST">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="Title"
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          name="instructor"
          placeholder="Instructor"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<%- include('../partials/bottom') %>
